<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Searching | E-Reference</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <!-- Search Bar -->
      <div class="row" style="margin-top: 3%;">
        <div class="col-1">
          <label for="exampleDataList" class="fw-semibold fs-6">Cari Buku</label>
        </div>
        <div class="col-8">
          <form th:action="@{/search}">
            <input class="form-control" type="text" th:name="judul" name="buku.judul" list="datalistOptions" id="exampleDataList" placeholder="Cari Judul Buku....">
            <datalist id="datalistOptions">
              <option value="San Francisco">
                <option value="New York">
                </datalist>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-dark">Cari</button>
              </div>
            </div>
          </form>

      <!-- Tabel -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Judul</th>
            <th scope="col">Penulis</th>
            <th scope="col">Penerbit</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="buku : ${listBuku}">
            <th scope="row" th:text="${buku.id}"></th>
            <td ><a th:href="@{/buku(judul=${buku.judul})}" style="text-decoration: none; color: black;" th:text="${buku.judul}"></a></td>
            <td th:text="${buku.penulis}"></td>
            <td th:text="${buku.penerbit}"></td>
          </tr>
          <tr th:each="buku : ${judul}">
            <th scope="row" th:text="${buku.id}"></th>
            <td ><a th:href="@{/buku(judul=${buku.judul})}" style="text-decoration: none; color: black;" th:text="${buku.judul}"></a></td>
            <td th:text="${buku.penulis}"></td>
            <td th:text="${buku.penerbit}"></td>
          </tr>
        </tbody>
      </table>

      <!-- Add Buku Card -->
      <div class="card text-center">
        <div class="card-header">
          Tambahkan Buku Referensi Milikmu!
        </div>
          <div class="card-body">
            <form th:action="@{/add}">
              
              <div class="row mb-3">
                <label for="judul" class="col-sm-2 col-form-label">Judul Buku</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:name="judul" placeholder="Buku . . .">
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="Penulis" class="col-sm-2 col-form-label">Penulis Buku</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:name="penulis" placeholder="Burhan, Samsoel, . . .">
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="penerbit" class="col-sm-2 col-form-label">Penerbit Buku</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:name="penerbit" placeholder="PT Terbit . . .">
              </div>
            </div>

            <div class="row mb-3">
              <label for="deskripsi" class="col-sm-2 col-form-label">Deskripsi</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:name="deskripsi" placeholder="Buku ini merupakan ...">
              </div>
            </div>

            <div class="row mb-3">
              <label for="deskripsi" class="col-sm-2 col-form-label">Tanggal Terbit</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" th:name="tglTerbit" placeholder="Buku ini merupakan ...">
              </div>
            </div>
              
            <div class="col">
              <button type="submit" class="btn btn-dark">Tambah Referensi!</button>
            </div>
            
          </form>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    </html>